In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import pathlib

%load_ext autoreload
%autoreload 2

In [4]:
# load the data

root_dir = Path.cwd().parent.parent
print(root_dir)
path_processed_data_dir = root_dir / 'data/processed'
data_file = path_processed_data_dir / 'births_with_geo_apgar_consolidated.csv.gz'

/home/tim/Documents/cdc-birth-data

In [5]:
df = pd.read_csv(data_file, compression='gzip',)
df.head()

/home/tim/miniconda3/envs/cdcbirth/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,dob_yy,dob_mm,mrcntyfips,mrcityfips,state_name_mr,mrstatefips,apgar5,births
0,1982,1,0,ZZZ,United States,0,1,1
1,1982,1,0,ZZZ,United States,0,3,1
2,1982,1,0,ZZZ,United States,0,5,1
3,1982,1,0,ZZZ,United States,0,6,1
4,1982,1,0,ZZZ,United States,0,7,1