In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import pathlib
import os
import seaborn as sns

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
root_dir = Path.cwd().parent.parent
print(root_dir)
folder_raw_data = root_dir / 'data/raw'
folder_processed_data = root_dir / 'data/processed'
folder_external_data = root_dir / 'data/external'

/home/tim/Documents/cdc-birth-data

In [3]:
# load births_with_geo_apgar_consolidated.csv.gz as df
df = pd.read_csv(folder_processed_data / 'births_with_geo_apgar_consolidated.csv.gz', compression='gzip')
df.head()

/home/tim/miniconda3/envs/cdcbirth/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,dob_yy,dob_mm,mrcntyfips,mrcityfips,state_name_mr,mrstatefips,apgar5,births
0,1982,1,0,ZZZ,United States,0,1,1
1,1982,1,0,ZZZ,United States,0,3,1
2,1982,1,0,ZZZ,United States,0,5,1
3,1982,1,0,ZZZ,United States,0,6,1
4,1982,1,0,ZZZ,United States,0,7,1

In [4]:
df[df['mrcityfips']!='ZZZ']

,dob_yy,dob_mm,mrcntyfips,mrcityfips,state_name_mr,mrstatefips,apgar5,births
9,1982,1,1001,999,Alabama,1,5,1
10,1982,1,1001,999,Alabama,1,7,2
11,1982,1,1001,999,Alabama,1,8,6
12,1982,1,1001,999,Alabama,1,9,18
13,1982,1,1001,999,Alabama,1,10,17
...,...,...,...,...,...,...,...,...
1925814,2004,12,999,99999,Wyoming,56,7,4
1925815,2004,12,999,99999,Wyoming,56,8,69
1925816,2004,12,999,99999,Wyoming,56,9,450
1925817,2004,12,999,99999,Wyoming,56,10,58
1925818,2004,12,999,99999,Wyoming,56,99,5