In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import pathlib
import os
import seaborn as sns

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
root_dir = Path.cwd().parent.parent
print(root_dir)
folder_raw_data = root_dir / 'data/raw'
folder_processed_data = root_dir / 'data/processed'
folder_external_data = root_dir / 'data/external'

/home/tim/Documents/cdc-birth-data

In [3]:
# load births_with_geo_apgar_consolidated.csv.gz as df
df = pd.read_csv(folder_processed_data / 'births_with_geo_apgar_consolidated.csv.gz', compression='gzip')
df.head()

/home/tim/miniconda3/envs/cdcbirth/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   dob_yy  dob_mm  mrcntyfips mrcityfips  state_name_mr  mrstatefips  births
0    1982       1           0        ZZZ  United States            0     483
1    1982       1        1001        999        Alabama            1      44
2    1982       1        1003        999        Alabama            1      90
3    1982       1        1005        999        Alabama            1      33
4    1982       1        1007        999        Alabama            1      22