In [91]:
import pandas as pd
import numpy as np
from pathlib import Path

In [92]:
root_dir = Path.cwd().parent.parent
folder_desc_data = root_dir / 'data/raw/desc/'
print(folder_desc_data)

/home/tim/Documents/cdc-birth-data/data/raw/desc

In [103]:
desc_dict = {
    1968: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1969: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1970: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1971: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1972: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1973: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1974: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1975: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1976: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1977: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1978: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1979: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1980: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1981: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1982: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1983: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1984: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1985: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1986: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1987: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1988: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1989: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1990: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1991: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1992: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1993: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1994: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1995: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1996: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1997: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1998: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1999: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2000: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2001: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2002: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2003: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2004: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2005: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2006: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2007: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2008: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2009: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2010: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2011: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2012: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2013: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2014: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2015: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2016: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},

}

In [133]:
year = 2016


# load a single txt file in folder_desc_data using pandas
df = pd.read_fwf(
    folder_desc_data / f'{year}.txt', 
    skiprows=desc_dict[year]['skiprows'],
    skipfooter=desc_dict[year]['skipfooter'],
    colspecs=desc_dict[year]['colspecs'],
    names=['var_name', 'storage_type', 'disp_format', 'var_label']
    )


df.tail()

        var_name storage_type disp_format                         var_label
432  uca_cleftlp         byte       %8.0g      Cleft Lip / Palate 1 Anomaly
433          NaN          NaN         NaN                          reported
434   uca_hernia         byte       %8.0g    Diaphragmatic Hernia 1 Anomaly
435          NaN          NaN         NaN                          reported
436    uca_downs         byte       %8.0g  Down Syndrome 1 Anomaly reported

In [134]:
df.head()

  var_name storage_type disp_format                        var_label
0   dob_yy          int       %8.0g    Birth Year 2015 Year of birth
1   dob_mm         byte       %8.0g           Birth Month 01 January
2   dob_tt          int       %8.0g  Time of Birth 0000-2359 Time of
3      NaN          NaN         NaN                            Birth
4   dob_wk         byte       %8.0g       Birth Day of Week 1 Sunday

In [135]:
# identify rows with NaN in var_name and then append that row's var_label onto previous var_label



for index, row in df.iterrows():
    if pd.isnull(row['var_name']):
        df.iloc[index-1]['var_label'] = str(df.iloc[index-1]['var_label']) + ' ' + str(df.iloc[index]['var_label'])

        

    # print(row['var_name'], row['storage_type'], row['disp_format'], row['var_label'])

In [136]:
df.head()

  var_name storage_type disp_format                              var_label
0   dob_yy          int       %8.0g          Birth Year 2015 Year of birth
1   dob_mm         byte       %8.0g                 Birth Month 01 January
2   dob_tt          int       %8.0g  Time of Birth 0000-2359 Time of Birth
3      NaN          NaN         NaN                                  Birth
4   dob_wk         byte       %8.0g             Birth Day of Week 1 Sunday

In [137]:
df.tail()

,var_name,storage_type,disp_format,var_label
432,uca_cleftlp,byte,%8.0g,Cleft Lip / Palate 1 Anomaly reported
433,NaN,NaN,NaN,reported
434,uca_hernia,byte,%8.0g,Diaphragmatic Hernia 1 Anomaly reported
435,NaN,NaN,NaN,reported
436,uca_downs,byte,%8.0g,Down Syndrome 1 Anomaly reported