In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [7]:
root_dir = Path.cwd().parent.parent
folder_desc_data = root_dir / 'data/raw/desc/'

folder_raw_data = root_dir / 'data/raw/'
print(folder_desc_data)

/home/tim/Documents/cdc-birth-data/data/raw/desc

In [14]:
# load natl2018.csv, natl2019.csv, and natl2020.csv and save the column names to a new csv
# in the data/raw/desc/ folder
for year in [2018, 2019, 2020]:
    col_list = [i.lower() for i in pd.read_csv(folder_raw_data / f'natl{year}.csv')]
    df = pd.DataFrame(col_list, columns=['var_name'])
    df.to_csv(folder_desc_data / f'{year}.csv', index=False)

In [13]:
df = pd.DataFrame(col_list, columns=['var_name'])
df.head()

  col_name
0   dob_yy
1   dob_mm
2   dob_tt
3   dob_wk
4   octerr

In [5]:
desc_dict = {
    1968: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1969: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1970: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1971: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1972: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1973: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1974: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1975: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1976: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1977: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1978: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1979: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1980: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1981: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1982: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1983: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1984: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1985: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1986: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1987: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1988: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1989: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1990: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1991: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1992: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1993: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1994: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1995: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1996: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1997: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1998: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1999: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2000: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2001: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2002: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2003: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2004: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2005: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2006: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2007: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2008: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2009: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2010: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2011: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2012: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2013: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2014: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},
    2015: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2016: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},
    2017: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},
}

In [6]:
year = 1986

# load a single txt file in folder_desc_data using pandas
df = pd.read_fwf(
    folder_desc_data / f'{year}.txt', 
    skiprows=desc_dict[year]['skiprows'],
    skipfooter=desc_dict[year]['skipfooter'],
    colspecs=desc_dict[year]['colspecs'],
    names=['var_name', 'storage_type', 'disp_format', 'var_label']
    )

df.iloc[32:40]

,var_name,storage_type,disp_format,var_label
32,nlbd,byte,%8.0g,Number of children born dead ( fetal deaths )
33,dtotord,byte,%8.0g,Total birth order
34,totord9,byte,%8.0g,Total birth order recode
35,dlivord,byte,%8.0g,Detail Live birth order
36,livord9,byte,%8.0g,Live birth order Recode 9
37,livord8,byte,%8.0g,Live birth order Recode 8
38,livord7,byte,%8.0g,Live birth order Recode 7
39,livord6,byte,%8.0g,Live birth order Recode 6

In [5]:
def df_fix_var_label(df):
    '''
    function to fix var_label column in dataframe
    '''
    # identify rows with NaN in var_name and then append that row's var_label onto previous var_label
    for index, row in df.iterrows():

        if index <= len(df)-2:

            if pd.isnull(df.iloc[index]['var_name']) and pd.isnull(df.iloc[index+1]['var_name']):
                df.iloc[index-1]['var_label'] = str(df.iloc[index-1]['var_label']) + ' ' + str(df.iloc[index]['var_label'] + ' ' + str(df.iloc[index+1]['var_label']))
            elif pd.isnull(df.iloc[index]['var_name']):
                df.iloc[index-1]['var_label'] = str(df.iloc[index-1]['var_label']) + ' ' + str(df.iloc[index]['var_label'])
            else:
                continue

        elif index <= len(df)-1:
            if pd.isnull(df.iloc[index]['var_name']):
                df.iloc[index-1]['var_label'] = str(df.iloc[index-1]['var_label']) + ' ' + str(df.iloc[index]['var_label'])

        else:
            continue

    # drop rows with NaN in var_name
    df = df.dropna(subset=['var_name'])
    return df

In [6]:
df_list = []

for year in desc_dict.keys():

    # load a single txt file in folder_desc_data using pandas
    df = pd.read_fwf(
        folder_desc_data / f'{year}.txt', 
        skiprows=desc_dict[year]['skiprows'],
        skipfooter=desc_dict[year]['skipfooter'],
        colspecs=desc_dict[year]['colspecs'],
        names=['var_name', 'storage_type', 'disp_format', 'var_label']
        )

    df = df_fix_var_label(df)
    df['year'] = year
    df_list.append(df)

df = pd.concat(df_list)

# group all the rows with the same var_name and show the years in which they appear
df = df.groupby(['var_name', 'storage_type', 'disp_format', 'var_label'])['year'].apply(list).reset_index()

# take 'year' out of the list and save as a string with commas
# df['year'] = df[['year']].apply(unique_vals, axis=1)

# get the minimum and maximum year in 'year' column and save as new columns
df['min_year'] = df['year'].apply(min)
df['max_year'] = df['year'].apply(max)

# drop 'year' column
df = df.drop(columns=['year'])

# save df as csv
df.to_csv(folder_desc_data / 'descriptions.csv', index=False)
df.head()

,var_name,storage_type,disp_format,var_label,min_year,max_year
0,---------------,--------,----------------------,----------------------------------,2014,2014
1,ab_anti,str1,%9s,Antibiotics R,2005,2005
2,ab_anti,str1,%9s,Antibiotics RFP 632=f_ab_antibio R,2004,2013
3,ab_anti,str1,%9s,Antibiotics for Newborn Y Yes,2014,2016
4,ab_aven1,str1,%9s,Assisted Ventilation (immediately) Y Yes,2014,2016