In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
root_dir = Path.cwd().parent.parent
folder_desc_data = root_dir / 'data/raw/desc/'
print(folder_desc_data)

c:\_Python\cdc-birth-data\data\raw\desc

In [3]:
desc_dict = {
    1968: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1969: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1970: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1971: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1972: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1973: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1974: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1975: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1976: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1977: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1978: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1979: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1980: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1981: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1982: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1983: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1984: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1985: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1986: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1987: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1988: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1989: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1990: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1991: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1992: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1993: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1994: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1995: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1996: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1997: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1998: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    1999: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2000: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2001: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2002: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2003: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2004: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2005: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2006: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2007: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2008: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2009: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2010: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2011: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2012: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2013: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2014: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},
    2015: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 11, 'skipfooter': 2},
    2016: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},
    2017: {'colspecs': [(0,15), (15,23), (23,45), (45,-1)], 'skiprows': 12, 'skipfooter': 2},

}

In [4]:
# load the {year}.txt for each year, parse, and append to df
df = pd.DataFrame()
for year in desc_dict:
    df_year = pd.read_fwf(
    folder_desc_data / f'{year}.txt', 
    skiprows=desc_dict[year]['skiprows'],
    skipfooter=desc_dict[year]['skipfooter'],
    colspecs=desc_dict[year]['colspecs'],
    names=['var_name', 'storage_type', 'disp_format', 'var_label']
    )

    # the  var_label wraps over multiple lines for some years, so we
    # need to put it all on one line
    if year >= 2014:
        for index, row in df_year.iterrows():
            if pd.isnull(row['var_name']):
                df_year.iloc[index-1]['var_label'] = str(df_year.iloc[index-1]['var_label']) + ' ' + str(df_year.iloc[index]['var_label'])

    # drop any rows with null values
    df_year = df_year.dropna()

    df_year['year'] = year

    # append to df
    df = pd.concat([df, df_year])

    df = df[['year', 'var_name', 'storage_type', 'disp_format', 'var_label']]

    # df.to_csv('all_descriptions.csv', index=False)

In [5]:
print("df.shape:", df.shape)
df.head()

df.shape: (9203, 5)

   year  var_name storage_type disp_format                 var_label
0  1968  datayear         byte       %8.0g                 Data year
1  1968   rectype         byte       %8.0g               Record type
2  1968  restatus         byte       %8.0g           Resident status
3  1968  stateres         str2         %9s   NCHS State of Residence
4  1968   cntyres         str5         %9s  NCHS County of Residence

In [7]:
# df.groupby([key_field]).agg({'time_field': [np.min,np.max]})

# group by var_name, storage_type, and disp_format, and aggregate by min and max year
df_agg = df.groupby(['var_name', 'storage_type', 'disp_format'], as_index=False).agg({'year': [np.min, np.max, 'unique']})
df_agg.columns = df_agg.columns.droplevel(1)
df_agg.columns = ['var_name', 'storage_type', 'disp_format', 'min_year', 'max_year', 'unique_years']

# df_agg = df_agg[0:5]
df_agg.head()

,var_name,storage_type,disp_format,min_year,max_year,unique_years
0,ab_anti,str1,%1s,2017,2017,[2017]
1,ab_anti,str1,%9s,2004,2016,"[2004, 2005, 2006, 2007, 2008, 2009, 2010, 201..."
2,ab_aven1,str1,%1s,2017,2017,[2017]
3,ab_aven1,str1,%9s,2004,2016,"[2004, 2005, 2006, 2007, 2008, 2009, 2010, 201..."
4,ab_aven6,str1,%1s,2017,2017,[2017]

In [11]:
df_agg.iloc[0]['unique_years']

array([2017], dtype=int64)

In [14]:
for index, row in df_agg.iterrows():
    var_label_list = []
    var_label = ""
    for i, y in enumerate(row['unique_years']):
        # print(y)
        try:
            var_label_year = df[(df['var_name']==row['var_name']) & (df['year']==y)]['var_label'].values[0]

            if var_label != var_label_year:
                var_label = var_label_year
                var_label_list.append(f'{var_label} - ({y})')
        except:
            print('error')
            pass

    for i, v in enumerate(var_label_list):
        desc_col_name = f'desc_{i+1}'
        df_agg.loc[index, desc_col_name] = v


df_agg.head()

,var_name,storage_type,disp_format,min_year,max_year,unique_years,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7
0,ab_anti,str1,%1s,2017,2017,[2017],Antibiotics for Newborn Y Yes - (2017),NaN,NaN,NaN,NaN,NaN,NaN
1,ab_anti,str1,%9s,2004,2016,"[2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...",Antibiotics RFP 632=f_ab_antibio R - (2004),Antibiotics R - (2005),Antibiotics RFP 632=f_ab_antibio R - (2006),Antibiotics for Newborn Y Yes - (2014),NaN,NaN,NaN
2,ab_aven1,str1,%1s,2017,2017,[2017],Assisted Ventilation (immediately) Y Yes - (2017),NaN,NaN,NaN,NaN,NaN,NaN
3,ab_aven1,str1,%9s,2004,2016,"[2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...",Assisted Ventilation RFP 628=f_ab_vent R - (2004),Assisted Ventilation R - (2005),Assisted Ventilation RFP 628=f_ab_vent R - (2006),Assisted Ventilation (immediately) Y Yes - (2014),NaN,NaN,NaN
4,ab_aven6,str1,%1s,2017,2017,[2017],Assisted Ventilation > 6 hrs Y Yes - (2017),NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# save df as csv
df_agg.to_csv('descriptions.csv', index=False)

# save df as excel
df_agg.to_excel('descriptions.xlsx', index=False)

In [17]:
# load df_agg from xlsx
df2 = pd.read_excel('descriptions.xlsx')

In [18]:
df2.head()

,var_name,storage_type,disp_format,min_year,max_year,unique_years,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7
0,ab_anti,str1,%1s,2017,2017,[2017],Antibiotics for Newborn Y Yes - (2017),NaN,NaN,NaN,NaN,NaN,NaN
1,ab_anti,str1,%9s,2004,2016,[2004 2005 2006 2007 2008 2009 2010 2011 2012 ...,Antibiotics RFP 632=f_ab_antibio R - (2004),Antibiotics R - (2005),Antibiotics RFP 632=f_ab_antibio R - (2006),Antibiotics for Newborn Y Yes - (2014),NaN,NaN,NaN
2,ab_aven1,str1,%1s,2017,2017,[2017],Assisted Ventilation (immediately) Y Yes - (2017),NaN,NaN,NaN,NaN,NaN,NaN
3,ab_aven1,str1,%9s,2004,2016,[2004 2005 2006 2007 2008 2009 2010 2011 2012 ...,Assisted Ventilation RFP 628=f_ab_vent R - (2004),Assisted Ventilation R - (2005),Assisted Ventilation RFP 628=f_ab_vent R - (2006),Assisted Ventilation (immediately) Y Yes - (2014),NaN,NaN,NaN
4,ab_aven6,str1,%1s,2017,2017,[2017],Assisted Ventilation > 6 hrs Y Yes - (2017),NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_agg['unique_years'].dtype

dtype('O')

In [61]:
df.shape

(9204, 5)

In [73]:
year = 1986


# load a single txt file in folder_desc_data using pandas
df = pd.read_fwf(
    folder_desc_data / f'{year}.txt', 
    skiprows=desc_dict[year]['skiprows'],
    skipfooter=desc_dict[year]['skipfooter'],
    colspecs=desc_dict[year]['colspecs'],
    names=['var_name', 'storage_type', 'disp_format', 'var_label']
    )


df.tail()

     var_name storage_type disp_format                         var_label
124  smsarfip         str4         %9s            FIPS SMSA of Residence
125     recwt         byte       %8.0g                     Record Weight
126   nprev28         byte       %8.0g  Number of Prenatal Visits Recode
127   nprev12         byte       %8.0g  Number of Prenatal Visits Recode
128  stnatexp         byte       %8.0g      Expanded State of Occurrence

In [74]:
df.head()

   var_name storage_type disp_format                    var_label
0  datayear         byte       %8.0g                    Data year
1  stresexp         byte       %8.0g  Expanded State of Residence
2   reparea         str1         %9s               Reporting Area
3   rectype         byte       %8.0g                  Record type
4  restatus         byte       %8.0g              Resident status

In [6]:
# identify rows with NaN in var_name and then append that row's var_label onto previous var_label



for index, row in df.iterrows():
    if pd.isnull(row['var_name']):
        df.iloc[index-1]['var_label'] = str(df.iloc[index-1]['var_label']) + ' ' + str(df.iloc[index]['var_label'])

        

    # print(row['var_name'], row['storage_type'], row['disp_format'], row['var_label'])

In [7]:
df.head()

  var_name storage_type disp_format                              var_label
0   dob_yy          int       %8.0g          Birth Year 2015 Year of birth
1   dob_mm         byte       %8.0g                 Birth Month 01 January
2   dob_tt          int       %8.0g  Time of Birth 0000-2359 Time of Birth
3      NaN          NaN         NaN                                  Birth
4   dob_wk         byte       %8.0g             Birth Day of Week 1 Sunday

In [8]:
df.tail()

,var_name,storage_type,disp_format,var_label
432,uca_cleftlp,byte,%8.0g,Cleft Lip / Palate 1 Anomaly reported
433,NaN,NaN,NaN,reported
434,uca_hernia,byte,%8.0g,Diaphragmatic Hernia 1 Anomaly reported
435,NaN,NaN,NaN,reported
436,uca_downs,byte,%8.0g,Down Syndrome 1 Anomaly reported